/**
 * Viget theme for reveal.js.
 * Author: Jeremy Frank
 */
@font-face {
  font-family: 'League Gothic';
  src: url("../../lib/font/league_gothic-webfont.eot");
  src: url("../../lib/font/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/league_gothic-webfont.woff") format("woff"), url("../../lib/font/league_gothic-webfont.ttf") format("truetype"), url("../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CallunaSansRegular';
  src: url("../../lib/font/CallunaSansRegular-webfont.eot");
  src: url("../../lib/font/CallunaSansRegular-webfont.eot?iefix") format("eot"), url("../../lib/font/CallunaSansRegular-webfont.woff") format("woff"), url("../../lib/font/CallunaSansRegular-webfont.ttf") format("truetype"), url("../../lib/font/CallunaSansRegular-webfont.svg#webfontnehNrF5g") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CallunaSansBold';
  src: url("../../lib/font/CallunaSansBold-webfont.eot");
  src: url("../../lib/font/CallunaSansBold-webfont.eot?iefix") format("eot"), url("../../lib/font/CallunaSansBold-webfont.woff") format("woff"), url("../../lib/font/CallunaSansBold-webfont.ttf") format("truetype"), url("../../lib/font/CallunaSansBold-webfont.svg#webfontHPO6NoNQ") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CallunaSansBlack';
  src: url("../../lib/font/CallunaSansBlack-webfont.eot");
  src: url("../../lib/font/CallunaSansBlack-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/CallunaSansBlack-webfont.woff") format("woff"), url("../../lib/font/CallunaSansBlack-webfont.ttf") format("truetype"), url("../../lib/font/CallunaSansBlack-webfont.svg#CallunaSansBlack") format("svg");
  font-weight: normal;
  font-style: normal; }

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #1496bb;
  background-color: #1496bb; }

.reveal {
  font-family: "CallunaSansRegular", sans-serif;
  font-size: 28px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: white; }

::selection {
  color: white;
  background: #d33682;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: white;
  font-family: "CallunaSansBlack", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: none; }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #0a4c5f;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: black;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #03151a; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #0a4c5f;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #0a4c5f; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #0a4c5f; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #0a4c5f; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #0a4c5f; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: black; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: black; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: black; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: black; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #0a4c5f;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.title-bg .state-background {
  background-color: #092f40; }

.title-slide {
  text-align: left; }
  .title-slide h1 {
    color: #1496bb; }
